// Instructor styles
// =================
//
// The styles in here depend on the styleguide grid functions, such as
// spacing() and the font-size mixin.

.instructable-overlay {
  transition: all .35s ease-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(black, .85);
  visibility: hidden;
  opacity: .001;
  color: white;
  overflow: hidden;

  &.visible {
    visibility: visible;
    opacity: .999;
  }

  .instructable-wrapper {
    position: absolute;

    &.top {
      transform: translate3d(0, calc(-100% - #{spacing(1)}), 0);
    }

    &.right {
      transform: translate3d(calc(100% + #{spacing(1)}), 0, 0);
    }

    &.bottom {
      transform: translate3d(calc(0, 100% + #{spacing(1)}), 0);
    }

    &.left {
      transform: translate3d(calc(-100% - #{spacing(1)}), 0, 0);
    }
  }

  .heading {
    @include font-size(3);
  }

  .body-wrapper {
    @include font-size(1);
  }
}
