/* Main wrapper styles */
/* =================== */

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 666px;
  margin: 99px auto 0;
  font-family: sans-serif;
}

.main-wrapper>* {
  max-width: 40%;
  padding: 11px;
}

.main-wrapper .news-section {
  align-self: flex-start;
}

.main-wrapper .news-section img {
  float: right;
  max-width: 33%;
}

.main-wrapper .green-box {
  align-self: flex-end;
  background: green;
  color: white;
}
