// Main wrapper styles
// ===================

.main-wrapper {
  width: columns(4);
  margin: columns(1) auto 0;

  .box {
    width: 100%;
    height: columns(2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .green {
    background: lighten(green, 15%);
  }

  .blue {
    background: lighten(blue, .15%);
  }
}
