// Big dropdown
// ============

.big-dropdown {
  @extend .clearfix;
  position: relative;
  padding: spacing(.25) spacing(.5) spacing(.25);
  border-bottom: 1px solid $light;
  background: $light-different;
  color: $really-dark;

  @include breakpoint(small){
    padding: 0;
  }

  .item-name {
    @include font-size(0);
    position: absolute;
    top: 0;
    left: spacing(.25);
    color: $dark;
    font-weight: bold;
    white-space: nowrap;

    @include breakpoint(small) {
      display: none;
    }
  }

  .icon-up-arrow,
  .icon-down-arrow {
    @include font-size(1);
    position: absolute;
    right: -(spacing(1.75));
    top: spacing(.5);
    padding: 0 spacing(.125);
    border: 1px solid $white;
    border-radius: 3px;
    font-weight: bold;

    @include breakpoint(medium) {
      transform: none;
      top: 0;
    }

    @include breakpoint(small) {
      @include font-size(1, small);
      display: inline-block;
      position: static;
      padding: 0 spacing(.25);
      margin-left: spacing(.5, small);
      vertical-align: bottom;
      border: none;
      border-radius: 0;
      border-left: 1px solid $white;
    }
  }

  .selector-wrapper,
  .detail-wrapper {
    text-align: left;
  }

  .selector-wrapper + .detail-wrapper,
  .detail-wrapper + .detail-wrapper {
    margin-left: spacing(1.5);
  }

  .detail-wrapper {
    display: inline-block;
    margin-top: spacing(.25);
    text-align: center;

    >* {
      display: block;
    }

    .label-span {
      @include font-size(-1);
    }

    .value-span {
      @include font-size(0);
      font-weight: bold;
    }
  }

  .selector-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: super;

    &.expanded {
      .icon-caret-up {
        display: block;

        @include breakpoint(small) {
          display: none;
        }
      }

      .navigation-sections-wrapper {
        display: block;
        opacity: 1;
        pointer-events: auto;
      }

      .selector-container {
        color: $green;
      }
    }

    @include breakpoint(small) {
      display: block;
    }
  }

  .item-name + .selector-container {
    margin-top: spacing(1);

    @include breakpoint(small) {
      margin-top: 0;
    }
  }

  .close-button {
    @include font-size(1);
    position: absolute;
    top: spacing(2.5);
    right: spacing(1);
    line-height: spacing(2);
    color: $kinda-dark;
    background: transparent;
    border: 0;
    outline: none;

    @include breakpoint(small) {
      @include font-size(0);
      top: spacing(1.25);
    }
  }

  .selector-container {
    position: relative;
    border: 1px solid transparent;
    padding: spacing(.125) spacing(.25);

    &:hover {
      border: 1px solid $green;
      border-radius: 3px;
      background: rgba($green, .05);
      color: $green;
      box-shadow: 0 0 5px rgba($dark, .33);
    }

    @include breakpoint(medium) {
      padding: spacing(.25);
    }

    @include breakpoint(small) {
      padding: 0;
    }
  }

  .icon-caret-up {
    @include font-size(2);
    line-height: spacing(1);
    color: white;
    display: none;
    position: absolute;
    left: 50%;

    @include breakpoint(small) {
      @include font-size(1);
      line-height: spacing(0);
      display: none;
    }
  }

  .selector-content,
  .meta-content {
    padding-right: spacing(.5);
    margin-right: spacing(1.75);
  }

  .meta-content {
    @include font-size(-1);
    margin-top: spacing(.25);

    @include breakpoint(small) {
      @include font-size(-1);
      line-height: spacing(1);
      padding-left: spacing(.25);
      color: $dark;
    }
  }

  .selector-wrapper + .selector-wrapper .meta-content {
    float: left;
  }

  .selector-content {
    @include font-size(2);
    position: relative;

    @include breakpoint(medium) {
      @include font-size(1);
    }

    @include breakpoint(small) {
      @include font-size(1, small);
      padding: spacing(.25);
    }

    .meeting-sell-code:after {
      content: "|";
      padding-left: spacing(.25);
      color: colour(tab-light-grey, 1);
    }
  }

  .bottom-label {
    @include font-size(-1);
    position: absolute;
  }

  .navigation-sections-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 0;
    padding: spacing(1);
    opacity: 0;
    display: none;
    pointer-events: none;
    background: $white;
    box-shadow: 0px -5px 12px 0px rgba(132, 132, 132, 0.21);
    padding-bottom: spacing(5);

    @include breakpoint(small) {
      padding: spacing(.5) spacing(.25) spacing(3) spacing(.25);
    }
  }

  .navigation-section-scroller {
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: spacing(.25);

    // http://lea.verou.me/2012/04/background-attachment-local/
    background:
      /* Shadow covers */
      linear-gradient(white 30%, rgba(255,255,255,0)),
      linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

      /* Shadows */
      radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
      radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
  }

  .navigation-main-heading,
  .navigation-sections-heading {
    @include font-size(2);
    margin-top: spacing(1.5);
    border-bottom: 1px solid $light-different;
    color: $really-dark;
    font-weight: bold;

    @include breakpoint(small) {
      @include font-size(1, small);
      margin-top: spacing(1);
    }
  }

  .navigation-sections-heading {
    @include font-size(1);
  }

  .day-nav-items-container {
    display: flex;
    flex-wrap: wrap;
  }

  .day-navigation {
    margin-top: spacing(.5);
    font-size: 0;

    a {
      transform: translateX(-#{spacing(.25)});
      display: inline-block;
      width: 19%;
      padding: spacing(.5);
      margin: spacing(.25) 0 0 spacing(.25);
      vertical-align: top;
      border: 4px solid rgba($dark, .5);
      opacity: 1;

      &.selected {
        border: 4px solid $green;
      }

      &:hover {
        border-color: $green-different;
      }

      .link-heading {
        @include font-size(0);
        color: colour(tab-dark-grey, -2);
        font-weight: bold;
      }

      .link-detail {
        @include font-size(-1);
        color: colour(tab-dark-grey, 2);
      }

      .link-detail + .link-detail:before {
        content: '|';
        display: inline-block;
        margin: 0 spacing(.25);
      }

      @include breakpoint(medium) {
        width: 23%;
      }

      @include breakpoint($breakpoint-size-medium - columns(2)) {
        width: 32%;
      }

      @include breakpoint(small) {
        width: 100%;
      }
    }

    .meeting-sell-code {
      color: colour(tab-dark-grey, 2);

      &:after {
        content: "|";
        padding-left: spacing(.25);
        color: colour(tab-light-grey, -4);
        font-weight: normal;
      }
    }
  }

  .day-navigation-time {
    @include font-size(-1);
    display: block;
    color: $light;
  }
}
