// Table styles
// ============
//
// Example (pardon the markup, but tables are verbose):
//
// <table cellpadding="0" cellspacing="0" data-common-table>
//   <tbody>
//     <tr>
//       <td>
//         John Smith
//       </td>
//       <td>
//         Developer
//       </td>
//     </tr>
//     <tr>
//       <td>
//         Lea Verou
//       </td>
//       <td>
//         Developer
//       </td>
//     </tr>
//   </tbody>
// </table>
//
// NOTE: Always reset cellpadding and cellspacing to 0 as above, since CSS can't
// override those settings on its own.

.common-table {
  width: 100%;
  margin-top: spacing(1);

  tr {
    background: $white;
  }

  thead {
    th {
      background: $black;
      color: $white;
      font-weight: bold;
    }
  }

  &.green {
    th {
      background: $green;
    }
  }

  &.red {
    th {
      background: $red;
    }
  }

  th,
  td {
    @include font-size(0);
    padding: 0 spacing(.5);
    height: spacing(2);
    border-bottom: 2px solid $light;

    @include breakpoint(small) {
      @include font-size(0, 'small');
      padding: 0 spacing(.5, 'small');
      height: spacing(2, 'small');
    }
  }

  tr:last-of-type {
    th,
    td {
      border-bottom: 0;
    }
  }

  @include breakpoint(small) {
    width: 100%;
  }
}
