// Common switch styles
// ====================

.common-switch {
  position: relative;
  display: inline-block;
  width: auto;
  font-size: 0;

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0;
  }


  .option-a,
  .option-b {
    @extend .common-button;
    display: inline-block;
    pointer-events: none;
  }

  // Hacks…
  span.option-a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  span.option-b {
    @extend .common-button-disabled-colour;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  // ---

  input:checked ~ .option-a {
    @extend .common-button-disabled-colour;
  }

  input:checked ~ .option-b {
    @extend .common-button-default-colour;
  }

  input:active ~ span {
    @extend .common-button:active;
  }
}
