// Common badge
// ==================

.common-badge {
  @include font-size(0);
  display: block;
  border-radius: 100%;
  width: spacing(1);
  text-align: center;

  &.yellow {
    background-color: $dark-poo-yellow;
    color: $black;
  }

  &.red {
    background-color: $red;
    color: $white;
  }
}
