// Button styles
// =============
//
// A common button can be marked up like this:
//
// <button class="common-button">
//   A button
// </button>
//
// Adding the `secondary` class changes to the appropriate look:
//
// <button class="common-button">
//   Submit
// </button>
// <button class="common-button secondary">
//   Cancel
// </button>
//
// Disabled buttons only need the disabled attribute to be set:
//
// <button class="common-button" disabled="disabled">
//   Cancel
// </button>

.common-button {
  @include font-size(0);
  @extend .common-button-default-colour;
  transition: color .15s linear,
    background .15s linear,
    transform 0 linear;
  padding: 0 spacing(.5);
  line-height: spacing(1.5);
  border: 0;
  color: $white;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-weight: bold;

  &.secondary {
    color: inherit;
    background-color: transparent;
    border: 2px solid currentColor;
  }

  &:disabled {
    @extend .common-button-disabled-colour;
  }

  &:active {
    @extend .common-button-active;
  }

  @include breakpoint(small) {
    @include font-size(0, 'small');
    padding: 0 spacing(.5, 'small');
    line-height: spacing(1.5, 'small');
  }
}

// Colouring of the buttons.
.common-button-default-colour {
  background: $green;
}

.common-button-disabled-colour {
  background: $dark;
}

.common-button-active {
  transform: translate(1px, 2px);
}
