// Common data list styles
// =======================

.common-data-list {
  margin-top: spacing(.5);
  padding: spacing(.5);
  background-color: $white;

  dt,
  dd {
    @include font-size(0);
    display: inline-block;
  }

  dt {
    width: 50%;
  }

  dd {
    width: 50%;
    font-weight: bold;
  }
}
