// Link styles
// ===========
//
// Example:
//
// <a href="#">A link</a>
//
// When a href is omitted, the link is made slightly opaque.
//
// <a>Slightly opaque</a>

a {
  color: $blue;
  text-decoration: none;
  outline: none;
  opacity: .45;
  cursor: pointer;

  &[href],
  &.functional {
    opacity: 1;
  }

  @include hover {
    text-decoration: none;
  }
}
