// Notifications
// =============

.notification {
  @include font-size(0);
  padding: spacing(0.5) spacing(1);
  border-radius: spacing(0.2);
  background-color: $notification-warning-background;
  color: $notification-orange;

  h1,
  h2,
  h3,
  h4 {
    @include font-size(1);
  }

  .title {
    @include default-font(bold);
    padding-bottom: spacing(1);
  }

  .action {
    padding-top: spacing(1);
  }

  &.full-view {
    padding: spacing(2);
  }

  &-warning {
    background-color: $notification-warning-background;
    color: $notification-orange;
  }

  &-success {
    background-color: $notification-success-background;
    color: $green;
  }

  &-error {
    background-color: $notification-error-background;
    color: $red;
  }

  &-info {
    background-color: $notification-info-background;
    color: $really-dark;
  }
}