$dimension: 100px;
.colour-box {
  display: inline-block;
  height: $dimension;
  width: $dimension;
  margin: 5px 0;
  line-height: $dimension;
  color: $white;
  text-align: center;
}

.first {
  background: colour(tab-green, 0);

  .darkened-one-stop & {
    background: colour(tab-green, -1);
  }
  .lightened-one-stop & {
    background: colour(tab-green, 1);
  }
}

.second {
  background: colour(tab-lime, 0);

  .darkened-one-stop & {
    background: colour(tab-lime, -1);
  }

  .lightened-one-stop & {
    background: colour(tab-lime, 1);
  }
}

.third {
  background: colour(tab-orange, 0);

  .darkened-one-stop & {
    background: colour(tab-orange, -1);
  }

  .lightened-one-stop & {
    background: colour(tab-orange, 1);
  }
}

.fourth {
  background: colour(tab-blue, 0);

  .darkened-one-stop & {
    background: colour(tab-blue, -1);
  }

  .lightened-one-stop & {
    background: colour(tab-blue, 1);
  }
}

.fifth {
  background: colour(tab-light-grey, 0);

  .darkened-one-stop & {
    background: colour(tab-light-grey, -1);
  }

  .lightened-one-stop & {
    background: colour(tab-light-grey, 1);
  }
}

.sixth {
  background: colour(tab-dark-grey, 0);

  .darkened-one-stop & {
    background: colour(tab-dark-grey, -1);
  }

  .lightened-one-stop & {
    background: colour(tab-dark-grey, 1);
  }
}