// Demos article styles
// ====================

.demos-article {
  @extend .common-article;

  .demos-list {
    margin-top: $spacing;
    list-style: disc inside;

    li {
      @include paragraph;
      margin-top: $spacing/2;
    }
  }
}
