// Styleguide examples list
// ========================

.examples-list {
  dt,
  dd {
    @include font-size(0);
    display: inline-block;
    line-height: spacing(1.5);
    margin-top: spacing(1);
    text-align: left;
  }

  dt {
    width: 33%;
  }

  dd {
      width: 65%;
  }

  @include breakpoint(small) {
    dd,
    dt {
      width: 100%;
    }
  }
}
