// Grid article styles
// ===================

.grid-article {
  @extend .common-article;

  .columns-example-wrapper {
    @include has-columns(columns(4), 2, spacing(1));
    margin-top: spacing(1);

    div {
      height: columns(1);
      background: $green;
    }
  }

  .fluid-size-code,
  .fluid-width-em {
    display: none;
  }

  @include breakpoint(small) {
    .fluid-size-code {
      display: block;
    }

    .fluid-width-em {
      display: inline-block;
    }

    .fixed-size-code,
    .fixed-width-em {
      display: none;
    }

    .columns-example-wrapper {
      @include has-columns(100%, 2, spacing(.5));
    }
  }
}
