// Styleguide index section
// ========================

.index-section {
  float: left;
  width: columns(2);
  padding: 0 spacing(1);
  text-align: center;

  .guide-navigation {
    margin-top: spacing(2);
    text-align: left;

    a {
      @include font-size(0);
      display: inline-block;
    }
  }

  .guide-version {
    h1 {
      font-weight: bold;
      @include font-size(0);
      line-height: spacing(2);
    }

    p {
      @include font-size(0);
    }
  }

  @include breakpoint(small) {
    display: none;
  }
}
