// Styleguide relevant files section
// =================================

.relevant-files-list {
  a {
    @include code-font;
    @include font-size(-1);
    display: inline-block;
    border: 0;
    color: $dark;
    text-decoration: underline;
  }

  @include breakpoint(small) {
    a {
      @include font-size(-2);
    }
  }
}
