// Has horizontal blocks module
// ============================
//
// This creates a horizontal list of blocks (or any block with a limited width,
// or inline-block). Note: this is a gross hack due to the fact we need to support
// IE9, and thus, we don't have flexbox available.
//
// Example:
//
// .horizontal-list {
//   @extend .has-horizontal-blocks;
//
//   li {
//     width: 49%; // Avoid wrapping the element by using half - 1%.
//   }
// }

// <ul class="horizontal-list">
//   <li>Apple</li>
//   <li>Banana</li>
//   <li>Tomato</li>
//   <li>Strawberry</li>
// </ul>

.has-horizontal-blocks {
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
